@use "styling" as *;

.projects {
  padding-bottom: 2rem;

  &__bio-image {
    height: 30vh;
    width: 100%;
    background: linear-gradient(
        to right,
        rgba($primary, 0.9),
        rgba($secondary, 0.3)
      ),
      url(https://images.unsplash.com/flagged/photo-1573603867003-89f5fd7a7576?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=746&q=80)
        center -10rem / cover no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    // -responsive

    @include media-md {
      height: 45vh;
      background-position: center 20%;
    }

    @include media-xl {
      height: 50vh;
    }

    .text-secondary {
      font-size: 2rem;
      margin-bottom: 2rem;
    }
  }

  &__items {
    width: 60vw;
    margin: 2rem auto 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;

    // -responsive md

    @include media-md {
      grid-template-columns: repeat(2, 1fr);
    }

    // -responsive lg

    @include media-lg {
      width: 80vw;
      grid-template-columns: repeat(3, 1fr);
    }

    @include media-xl {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &__item {
    position: relative;
    border-bottom: 5px solid $secondary;
    overflow: hidden;
    cursor: pointer;

    // -responsive
    @include media-md {
      max-height: 400px;
    }

    @include media-lg {
      height: 400px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }

    // effect overlay
    &::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
      height: 100%;
      width: 100%;
      background: $secondary;
      opacity: 0;
      @include transition-ease;
    }

    &:hover {
      &::after {
        top: 0;
        opacity: 0.9;
      }

      .projects__btn {
        opacity: 1;
      }
    }
  }

  &__btns {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: center;
  }
  // individual button
  &__btn {
    opacity: 0;
    color: set-Text-color($secondary);

    &:hover {
      color: set-Text-color(set-Text-color($secondary));
    }
  }
}
